<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/media.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Mummy Aderemi</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse margin-left" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/wishes">Wishes</a>
            </li>
            <li class="nav-item">
              <a class=" active btn btn-primary" aria-current="page" href="#" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Send Your Wish</a>
            </li>

          </ul>

        </div>

    </div>
  </nav>

  <div class="container">
    <div class="content">
      <div class="main-content">
        <div class="row gx-5">
          <div class="col-md-6 mb-5">
            <img src="/images/main.jpg" alt="" srcset="" class="img-thumbnail rounded mx-auto d-block">
          </div>
          <div class="col-md-6 mb-2">
            <div class="desc">
              <div class="desc-content">
                <h4>Celebrating Royalty</h4>
                <p>You are specially invited</p>
                <hr>
                <p class="p-2">to the birthday celebration of</p>
                <h5>H.R.H Olori Deaconess Edith</h5>
                <h1>Adedolapo</h1>
                <h5 class="h5-2 mb-2">Aderemi</h5>
                <hr class="mt-4">
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Send Your Wish to Mummy Aderemi</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/" method="POST">
          <div class="modal-body">
            <div class="row mb-3">
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="John" name="firstName">
                  <label for="floatingInput">First Name</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="Doe" name="lastName">
                  <label for="floatingInput">Last Name</label>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
                  <label for="floatingInput">Email Address</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3"> 
                  <input type="phone" class="form-control" id="floatingInput" placeholder="" name="phone">
                  <label for="floatingInput">Telephone</label>
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                rows="20" name="message"></textarea>
              <label for="floatingTextarea">Comments</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>