* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: linear-gradient(rgba(60, 19, 97, .7), rgba(60, 19, 97, .7)), url(/images/bg.jpeg);
  background-size: 300px;
}

.margin-left {
  margin-left: 52rem;
}

.content {
  position: relative;
  height: 90vh;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
}