* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: linear-gradient(rgba(60, 19, 97, .7), rgba(60, 19, 97, .7)), url(/images/bg.jpeg);
  background-size: 300px;
}

.margin-left {
  margin-left: 52rem;
}

.content {
  position: relative;
  height: 90vh;
  width: 100%;
}

.main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background: rgba(60, 19, 97, .7);
}

img {
  height: 400px;
  padding: 1rem;
  margin-left: 2rem;
}

.desc {
  position: relative;
  color: #fff;
  height: 100%;
  width: 100%;
  margin-left: 1rem;
}

.desc-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1;
}

.desc-content p {
  font-size: 14px;
}

.desc-content h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 900;
}
.desc-content h5 {
  line-height: .1;
}
hr {
  width: 15rem;
  height: 3px !important;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto !important;
  color: #faab00 !important;
  opacity: 1 !important;

}

p.p-2 {
  text-transform: uppercase;
  line-height: 2;
  color: #faab00;
  font-weight: 600;
}

h5.h5-2 {
  text-transform: uppercase;
  color: #faab00;
  font-weight: 600;
  letter-spacing: 2rem;
}

/* CSS STYLE FOR WISHES PAGE */
.card-main {
  background: #fff;
  margin-bottom: 1rem;
  margin-top: .5rem;
  width: 100%;
  border-radius: 5px;
}
.wish-container {
  position: relative;
  height: 80vh;
}
.noWish {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  height: 20rem;
  width: 100%;
}

.noWish-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.noWish-content h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #808080;
}


/* // X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 576px) { 
  .margin-left {
      margin-left: 0;
  }
  .content {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .main-content {
    position: relative;
    top: 5px;
  }

  .desc {
    margin-left: 0;
    background: rgba(85, 0, 138, 0.4);
    padding: .5rem 1rem;
    height: 17rem;
  }

  hr {
    width: 15rem;
    height: 3px !important;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto !important;
    color: #faab00 !important;
    opacity: 1 !important;

  }
  .desc-content {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    text-align: center;
    line-height: 1;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media screen and (min-width: 577px) and (max-width: 768px) { 
  .margin-left {
    margin-left: 0;
}
.content {
  position: relative;
  height: 100%;
  width: 100%;
}
.main-content {
  position: relative;
  top: 5px;
}

.desc {
  margin-left: 0;
  background: rgba(85, 0, 138, 0.4);
  padding: .5rem 1rem;
  height: 17rem;
}

hr {
  width: 15rem;
  height: 3px !important;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto !important;
  color: #faab00 !important;
  opacity: 1 !important;

}
.desc-content {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0%, 0%);
  text-align: center;
  line-height: 1;
}
}

/* // Medium devices (tablets, less than 992px) */
@media screen and (min-width: 769px) and (max-width: 992px) { 
  .margin-left {
    margin-left: 34rem;
}
}

/* // Large devices (desktops, less than 1200px) */
@media screen and (min-width: 993px) and (max-width: 1200px) { 
  .margin-left {
    margin-left: 47rem;
}
}

/* // X-Large devices (large desktops, less than 1400px) */
@media screen and (min-width: 1201px) and (max-width: 1400px) { 
 
}

/* // XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */